.img-tshirt{
    position: relative;
}
.meme-text{
    position: absolute;
    left: 202px;
    top: 190px;
}
.meme-text img{
    max-width: 320px;
    border: 5px solid #fff;
}
.meme-text p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.tshirt-color{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tshirt-color img{
    width: 20%;
    height: 20%;
}
/* upload img size */
.mem-img-size img {
    min-width: 322px;
    max-height: 305px;
}